@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Righteous&display=swap");
#root {
  font-family: "PT Sans";
}

h2 {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: 1.3rem;
  letter-spacing: 2px;
}
h1 {
  font-size: 5rem;
  letter-spacing: 0.5rem;
  margin: 0;
}
h3 {
  font-family: "PT Sans";
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0;
}
p {
  margin: 0;
  font-family: "PT Sans";
  letter-spacing: 1.3px;
  font-size: 0.9rem;
}
.brightStyle {
  background-color: rgba(238, 238, 238, 1);
  color: black;
}
.darkStlye {
  background-color: black;
  color: rgba(255, 255, 255, 1);
}
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  & img {
    margin: 0.5rem;
  }
}
.displayFlexColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.displayFlexrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeWrapper {
  gap: 0.2rem;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.setTimerWrapper {
  align-self: center;
  gap: 3rem;
  &form {
    align-items: flex-start;
  }
}
.timeSection {
  gap: 2rem;
}

.formSection {
  align-self: flex-start;
  margin: 0;
  & form {
    align-items: flex-start;
    gap: 1rem;
    & div {
      display: flex;
      align-items: center;
    }
    & input {
      margin-right: 0.8rem;
    }
    & input[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;
      display: flex;
      align-content: center;
      justify-content: center;
      font-size: 1rem;
      color: white;
      padding: 0.1rem;
      border-radius: 3px;
      border: 1.5px solid black;
    }
    & input[type="checkbox"]::before {
      content: "";
      width: 1.4rem;
      height: 1.4rem;
      clip-path: polygon(
        20% 0%,
        0% 20%,
        30% 50%,
        0% 80%,
        20% 100%,
        50% 70%,
        80% 100%,
        100% 80%,
        70% 50%,
        100% 20%,
        80% 0%,
        50% 30%
      );

      transform: scale(0);
      background-color: white;
    }
    & input[type="checkbox"]:checked::before {
      transform: scale(0.7);
    }
    & input[type="checkbox"]:checked {
      background-color: black;
    }
  }
  & button {
    width: 16rem;
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  & label {
    font-size: 1.3rem;

    letter-spacing: 1.5px;
  }
}
button {
  border: solid black 2px;
  border-radius: 5px;
  padding: 10px;
  font-weight: 600;
  margin-bottom: 20%;
}
.opacityBtn {
  font-size: 1rem;
  letter-spacing: 0.5px;
  opacity: 55%;
  font-weight: 700;
  border: solid 1px black;
  align-self: center;
}
.header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  & p {
    font-size: 1.3rem;
    letter-spacing: 2px;
    margin-right: 38%;
  }
}
.digitalWrapper {
  align-items: center;
}
.analogWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.clockSection {
  margin-top: 30%;
}
.clockContainer {
  position: relative;
}

.menuWrapper {
  display: flex;
  justify-content: flex-start;
  gap: 35%;
  align-items: center;
  color: white;
  & img {
    align-self: flex-start;
  }
  background-color: rgb(228, 228, 228, 1);
}
.clockContainer {
  position: relative;
  width: 300px;
  height: 300px;
}
.clockFace {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.minuteHand,
.secondHand {
  position: absolute;
  left: 50%;
  transform-origin: 50% 100%;
  transform: rotate(0deg);
}
.minuteHand {
  top: 13%;
}
.secondHand {
  top: 9%;
}

.linkSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  & a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
  }
}
.alarmView {
  background-color: rgba(34, 34, 34, 1);
  align-items: center;
  justify-content: space-between;
  & .imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9rem;
    width: 9rem;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 50%;
    box-shadow: 0 0 2px 40px rgba(255, 255, 255, 0.02),
      0 0 2px 100px rgba(255, 255, 255, 0.02),
      0 0 2px 160px rgba(255, 255, 255, 0.02);
  }

  & .alarmSection {
    margin-top: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  & button {
    background-color: transparent;
    color: rgb(228, 228, 228, 0.5);
    border: 1.5px solid rgb(228, 228, 228, 0.5);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
  }
  & p {
    margin-top: 1rem;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.5rem;
  }
}
